

    <div class="signIn">
      <h3 class="text-center">Sign In</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" #userName required>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="form-group text-center">
        <button class="btn btn-primary text-center" #login (click)="authService.SignIn(userName.value, userPassword.value)">Log In</button>
      </div>

      <div class="text-center">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>

    <div class="text-center">
      <span>Don't have an account?<a class="redirect" routerLink="/register-user"> Sign Up</a></span>
    </div>
  </div>

