

<!-- Navigation Menu & Dashboard -->
<div class="container-fluid menu-open menu-closed">
    <nav class="col-md-2 d-md-block bg-light">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <a routerLink="/profile">Profile</a>
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
    </nav>
</div>
