
<!-- Navigation Menu & Dashboard -->
<div class="container-fluid menu-open menu-closed">

  <!-- Notes: "menu-open" state will function as a full-blown dashboard. on smaller screens, it will be full-screen when open, on larger screens it will occupy a portion of the page when open. "menu-closed" state will function as an ordinary navbar.-->

  <!-- Open/Close Button-->
  <input type="checkbox" class="dashboard-button" id="openDash">
  <label for="openDash" class="toggleDash">
    <div class="spinner diagonal p1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal p2"></div>
  </label>

  <nav class="bg-light" id="menu">

    <!-- Navigation Links-->
    <ul class="nav flex-column">

      <li class="nav-item">
        <a routerLink="/profile" class="nav-link active">Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="/board" class="nav-link active">Puzzles</a>
      </li>

      <!-- Calling SignOut() Api from AuthService -->
      <li class="nav-item">
        <a class="nav-link" (click)="authService.SignOut()">
          <i class="fas fa-sign-out-alt"></i>Log out
        </a>
      </li>

    </ul>

  </nav>
</div>
