

    <div class="m-5 signUp">
      <h3>Sign Up</h3>

      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email Address" #userEmail required>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" #userPwd required>
      </div>

      <div class="form-group">
        <button class="btn btnPrimary" #register (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>
      </div>

    <div class="redirectToLogin">
      <span>Already have an account? <a class="redirect" routerLink="/sign-in">Log In</a></span>
    </div>
  </div>


