

    <div class="email">
      <h3>Thank You for Registering</h3>

      <div class="form-group" *ngIf="authService.userData as user">
        <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
      </div>

      <!-- Calling SendVerificationEmail() method using authService Api -->
      <div class="form-group">
        <button type="button" class="btn" (click)="authService.SendVerificationEmail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>



    <div class="redirectToLogin">
      <span>Go back to?<a class="redirect" routerLink="/sign-in"> Sign in</a></span>
    </div>

  </div>

