
<div class="container-fluid">

  <!-- Main content -->
  <main role="main">
    <div class="inner-adjust">
      
      <!-- Show user data when logged in -->
      <div class="row" *ngIf="authService.userData as user">
        <div class="media">
          <div class="media-body">

            <h1 class="profile-heading"><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong>'s Profile</h1>

            <!-- Profile Panel & Content -->
            <div class="profile-panel">

              <img class="pfp" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
              alt="{{user.displayName}}">

              <ul class="profile-fields">
                <li class="profile-field">Display Name: <strong>{{user.displayName}}</strong></li>
                <li class="profile-field">Name: <strong>{{(user.f_name) ? user.f_name : ''}}</strong> <strong>{{(user.l_name) ? user.f_name : ''}}</strong></li>
                <li class="profile-field">User ID: <span class="spoiler"><strong>{{user.uid}}</strong></span></li>
                <li class="profile-field">Email: <strong>{{user.email}}</strong></li>
                <li class="profile-field">Email Verified: <strong>{{user.emailVerified}}</strong></li>
              </ul>

            </div>

          </div>
        </div>
      </div>
  
    </div>
  </main>
  
</div>