
<div class="container-fluid">

  <!-- Main content -->
  <main role="main">
    <div class="inner-adjust">

      <!-- Show user data when logged in -->
      <div class="row" *ngIf="this.user">
        <div class="media">
          <div class="media-body">

            <h1 class="profile-heading"><strong>{{(this.user.displayName) ? this.user.displayName : 'User'}}</strong>'s Profile</h1>

            <!-- Profile Panel & Content -->
            <div class="profile-panel">

              <div class="pfp-panel">
                <img class="pfp" src="{{(this.user.photoURL) ? this.user.photoURL : '/assets/dummy-user.png'}}" alt="{{this.user.displayName}}">
              </div>

              <div class="details-panel">
                <ul class="profile-fields">
                  <li class="profile-field">Display Name: <strong>{{this.user.displayName}}</strong></li>
                  <li class="profile-field">Name: <strong>{{(this.user.f_name) ? this.user.f_name : ''}}</strong>  <strong>{{(this.user.l_name) ? this.user.l_name : ''}}</strong></li>
                  <li class="profile-field">Email: <strong>{{authService.userData.email}}</strong></li>
                  <li class="profile-field">Email Verified: <strong>{{authService.userData.emailVerified}}</strong></li>
                </ul>
                <button class="edit-button btn btn-primary text-center">Edit Profile</button>
              </div>

              <div class="details-panel edit-form hidden" >
                <div class="profile-fields" [formGroup] = "userInfo">
                  <div class="profile-field">
                    <label for="display-name">Display Name: </label>
                    <input type="text" class="form-control" formControlName= "displayName" placeholder="{{(user.displayName) ? user.displayName : 'Create a Display Name'}}" #displayName required>
                  </div>
                  <div class="profile-field">
                    <label for="firstName">Name: </label>
                    <input type="text" class="form-control" formControlName="f_name" placeholder="{{(user.f_name) ? user.f_name : 'First Name'}}" #firstName required>
                    <input type="text" class="form-control" formControlName="l_name"placeholder="{{(user.l_name) ? user.l_name : 'Last Name'}}" #lastName>
                  </div>
                  <!-- <div class="profile-field">
                    <label for="email">Email: </label>
                    <input type="text" class="form-control" formControlName="email" placeholder="{{(user.email) ? user.email : 'New Email'}}" #email required>
                  </div> -->
                </div>

                <button class="btn btn-primary text-center" (click)="submit(userInfo)" #saveProfile>Save Changes</button>
              </div>

              <app-admin *ngIf="isAdmin"></app-admin>

            </div>

          </div>
        </div>
      </div>

    </div>
  </main>

</div>
