.profile-heading {
  padding: 1.25vh 1vw;
  font-size: 4vw;
  margin: 0 auto;
  border-bottom: .25vh solid #000000;
}

strong {
  color: #1400c4;
}

.profile-panel {
  margin: 2vh 0;
  padding: 1vw;
}

.profile-panel div {
  padding: .5vh 1vw;
}

.pfp {
  max-width: 20vw;
  height: auto;
  border: .25vw solid #000000;
  border-radius: 1em;
  overflow: hidden;
}

.profile-fields {
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  .profile-panel {
    display: grid;
    align-items: center;
    grid-gap: 2.5vw;
  }

  .pfp-panel {
    grid-column: 1;
    justify-self: end;
  }

  .details-panel {
    grid-column: 2;
    justify-self: start;
  }
}