/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
  margin: 0 auto;
}

body { 
  margin: 0 auto;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("/assets/altbg-pastel.jpg");
  background-color: #444444;
  color: #000000;
}

div, nav {
  background-color: #CBDEFF;
}

a {
  text-decoration: none;
}

.container-fluid {
  align-items: center;
  padding: 0;
}

ul {
  text-align: center;
  padding-left: 0;
}
