
<div class="container-lg" *ngIf="isAdmin ==1">
        <ul class="nav flex-column">
            <li class="nav-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">
                    Add a new user
                </button>

                         <!-- Modal -->
                <div class="modal fade" id="addUserModal"  tabindex="-1" role = 'dialog' aria-labelledby="addUserModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Admin: Add User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div>
                                <form [formGroup] = "userGroup">
                                    <div class="modal-body">

                                        <div class="mb-3">
                                            <label for="userEmail" class="form-label"><u>User email </u><br><br></label>
                                            <input type="text" class="form-control" #userEmail formControlName="userEmail" placeholder="Type user email here">
                                            <br><br>
                                        </div>
                                        <div class="mb-3">
                                            <label for="userPW" class="form-label"><u>User password</u><br><br></label>
                                            <input type="text" class="form-control" #userPW formControlName="userPW" placeholder="Type temporary user password here">
                                            <br><br>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitUser(userGroup)">Add user</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </li>

            <li class= "nav-item">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateUserModal">
                   Update a user
                </button>

  <!-- Modal -->
                <div class="modal fade" id="updateUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Admin: Update User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form [formGroup] = "updateGroup">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="email" class="form-label"><u>User Email </u><br><br></label>
                                            <input type="text" class="form-control" #email formControlName="email" placeholder="Type user email here">
                                            <br><br>
                                        </div>
                                        <div class="mb-3">
                                            <label for="firstName" class="form-label"><u>First Name</u><br><br></label>
                                            <input type="text" class="form-control" #firstName formControlName="firstName" placeholder="Type user password here">
                                            <br><br>
                                        </div>
                                        <div class="mb-3">
                                            <label for="lastName" class="form-label"><u>Last Name</u><br><br></label>
                                            <input type="text" class="form-control" #lastName formControlName="lastName" placeholder="Type user display name here">
                                            <br><br>
                                        </div>
                                        <div class="mb-3">
                                            <label for="displayName" class="form-label"><u>Display Name</u><br><br></label>
                                            <input type="text" class="form-control" #displayName formControlName="displayName" placeholder="Type user photo url here">
                                            <br><br>
                                        </div>
                                    </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateUser(userGroup)">Update user</button>

                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Approve Photos
                </button>

  <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Admin: Approve Photo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                           <div class="modal-body">
                            <table class="table table-success table-striped">
                              <thead>
                                <tr>
                                  <!--the () is used for Event Binding, event binding ties an html elements event to aa method in the TS class, it
                                    is a one-way data binding-->
                                  <th scope="col">#</th>
                                  <th scope="col">Picture</th>
                                  <th scope="col">Picture Name</th>
                                  <th scope="col">Uploader</th>
                                  <th scope="col">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                    <tr *ngFor = "let photo of photoList">
                                      <td>{{photo.id}}</td>
                                      <td>
                                        <img [src]=photo.url width="200" margin="2">
                                      </td>
                                      <td>{{photo.title| titlecase}}</td>
                                      <td>{{photo.uploader.displayName }}</td>
                                      <td>
                                        <button type="button" class="btn btn-info" (click)="approvePhoto(photo.id)">Approve</button>
                                        <button type="button" class="btn btn-danger"(click)="deletePhoto(photo.id)">Delete</button>
                                      </td>
                                    </tr>
                              </tbody>
                            </table>

                           </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
</div>
